.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
}
.brand__image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-width: 150px;
    min-width: 120px;
}